a{
    text-decoration: none;
    outline: none;
    color: #000
}

.nav-left-button:hover{
    border-radius: 25px;
    background-color: rgb(36, 34, 34);
    color: #ccc;
    font-weight: bold;
}

.menu-List{

    display: none;
    position: absolute;
    top: -380px;
    z-index: 55;
    background-color: #fff;
    color:#000
}

.show-menu-list{

    display: block;
    position: absolute;
    top: -380px;
    z-index: 45;
    background-color: #fff;
    color:#000
}

/********RIGHT SIDE*******/

.tendancesContent{
    border-radius: 20px;
    background: rgb(241, 239, 239);
    padding: 10px;
    margin-top: 25px;
}

.tendancesItem{
    padding: 8px;
    width: 100%;
}
.tendancesItem:hover{
    background-color: #ccc;
    width: 100%;
    cursor: pointer;
}

.MoreIconItem:hover{
    z-index: 5;
    border-radius: 35px;
    background: #30c4f1ef;
    padding: 3px;
    color: #fff;
}



/*******LOGIN PAGE********/

.iconRegister{
    color: #ff0000;
}


.register_Container{
    background: #ff0000;
background: linear-gradient(287deg,#ff0000 0%, #000000 60%);
background: -webkit-linear-gradient(287deg,#ff0000 0%, #000000 60%);
background: -moz-linear-gradient(287deg,#ff0000 0%, #000000 60%);

}

.componentBox{
    height: 100vh;
}


/*******PAGE PROFIL*******/

.profil-picture{
    max-width: 150px;
    max-height: 150px;
    border-radius: 100%;
    padding: 5px;
    border: 1px solid #eee;
    background-color: #fff;
    position: absolute;
    top: 11em;
    left: 15px;
}

.profil-picture img{
    width: 100%;
    height: 100%;
    border-radius: 100%!important;
}